# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
def given_string(provided_string):
    char_repeated = {}
    for x in provided_string:
        if x in char_repeated:
            char_repeated[x] += 1
        else:
            char_repeated[x] = 1
    return char_repeated


print(given_string('google'))

(2) Write a Python program to sum all the items in a list. (6 points)

In [2]:
# write your answer here
def list_to_sum(numbers):
    sum_result = 0
    for x in numbers:
        sum_result += x
    return sum_result


print(list_to_sum([1, 2, 3, 4]))

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [3]:
# write your answer here

def given_string(string_provided):
    first_value = string_provided[0]
    removed_value = string_provided[1:]
    removed_value = removed_value.replace(first_value, '\\$')
    return first_value+removed_value


print(given_string('restart'))

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [4]:
# write your answer here
def formula_given(a, b):
    s = float(3.14 * float((1 + a / b)**3))
    return s


print(formula_given(1, 2))

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
# write your answer here

def concat_dic():
    dic1 = {1:10, 2:20}
    dic2 = {3:30, 4:40}
    dic3 = {5:50, 6:60}
    result = {}
    result.update(dic1)
    result.update(dic2)
    result.update(dic3)

    return result


print(concat_dic())

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [6]:
# write your answer here

def check_value(tuple_value, elements):
    if elements in tuple_value:
        return "element exist in tuple_value"
    else:
        return "element does not exist"


print(check_value(["john", "mike"], "mike"))

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [7]:
# write your answer here

def find_max_min(provided_set):
    max_value = max(provided_set)
    min_value = min(provided_set)

    return 'max_value: ' + str(max_value) + ' and ' + 'min_value: ' + str(min_value)


print(find_max_min([4, 2, 5, 8]))

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [8]:
# write your answer here

def find_duplicate(arr):
    check_value = set()
    result = []
    for x in arr:
        if x in check_value:
            result.append(x)
        else:
            check_value.add(x)

    return result


print(find_duplicate([1, 2, 3, 5, 2, 5]))